* {
    margin: 0;
    padding: 0;
    font-family: "Alexandria", sans-serif;
}

html, body {
    overflow-x: hidden;
}

/* fonts */

h1 {
    font-size: 4rem;
    color: #000;
    font-weight: 700;
    text-shadow: 1px 1px 3px black;
}

a {
    font-size: 1.5rem;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #000000;
}
/* nav */
nav {
    position: fixed;
    width: 92vw;
    z-index: 100;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 4vw ;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 3vw;
}

nav img {
    width: 200px;
    margin-right: 3vw;
}

.auth-buttons {
    display:flex;
    gap: 3vw;
}

.auth-buttons a {
    padding: 8px 40px;
    text-decoration: none;
    font-size: 1.25rem;
    border-radius: 20px;
    background-color: #5F9786;
}

/* hero section */
.hero-section {
    text-align: center;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-section h1 {
    padding: 25vh 0 14vh;  
    max-width: 55vw;
    text-align: center;
}

.hero-section p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #000000;
    margin-bottom: 5vh;
    max-width: 45vw;
    text-align: center;
}

.hero-buttons {
    display: flex;
    gap:5vw;
    max-width: 50vw;
    margin-bottom: 50px;
}

.hero-buttons a {
    background-color: #2A2A2A;
    color: #ffffff;
    padding: 15px 110px;
    border-radius: 20px;
    font-weight: 400;
    text-decoration: none;
    box-shadow: 1px 1px 4px black;
}

.hero-buttons a:hover {
    background-color: #555;
}

